In [1]:
import pandas as pd
pd.__version__

'1.1.3'

In [2]:
import pandas as pd

employees = pd.read_csv (r'/Users/brigettethompson/bip-python-unh/user_audit/data/employees.csv')
print (employees)

    employee_number  first_name   last_name  \
0         EMP003037     Juliana    Burbudge
1         EMP003045      Lizzie        Blue
2         EMP003051     Marjory    Selcraig
3         EMP003068      Aguste    O'Connor
4         EMP003097     Clemens      Kopman
..              ...         ...         ...
970       EMP024864    Kristina       Yakov
971       EMP024885   Margarita  Habbergham
972       EMP024890    Prescott   Southward
973       EMP024896       Raine     Learned
974       EMP024931  Frederique        Fant

                                    email              title
0        juliana.burbudge@consultants.com  Director of Sales
1             lizzie.blue@consultants.com    Sales Assistant
2        marjory.selcraig@consultants.com    Sales Assistant
3         aguste.o'connor@consultants.com    Sales Assistant
4          clemens.kopman@consultants.com    Account Manager
..                                    ...                ...
970        kristina.yakov@consultants.com    Sales Assistant
971  margarita.habbergham@consultants.com    Account Manager
972    prescott.southward@consultants.com    Sales Assistant
973         raine.learned@consultants.com    Account Manager
974       frederique.fant@consultants.com    Account Manager

[975 rows x 5 columns]

In [3]:
import pandas as pd

system_access = pd.read_csv (r'/Users/brigettethompson/bip-python-unh/user_audit/data/system_access.csv')
print (system_access)

        id    access_level
0     3045  Contract Entry
1     3051  Contract Entry
2     3068  Contract Entry
3     3097   Account Admin
4     3133  Contract Entry
..     ...             ...
833  24862  Contract Entry
834  24864  Contract Entry
835  24885   Account Admin
836  24890  Contract Entry
837  24896   Account Admin

[838 rows x 2 columns]

In [4]:
system_access.rename(columns={'id':'employee_number'}, inplace=True)
system_access['employee_number'] = system_access['employee_number'].apply(lambda x: '{0:0>06}'.format(x))
system_access['employee_number'] = 'EMP' + system_access['employee_number'].astype(str)

system_access

    employee_number    access_level
0         EMP003045  Contract Entry
1         EMP003051  Contract Entry
2         EMP003068  Contract Entry
3         EMP003097   Account Admin
4         EMP003133  Contract Entry
..              ...             ...
833       EMP024862  Contract Entry
834       EMP024864  Contract Entry
835       EMP024885   Account Admin
836       EMP024890  Contract Entry
837       EMP024896   Account Admin

[838 rows x 2 columns]

In [5]:
system_access.set_index('employee_number', inplace=True)
employees.set_index('employee_number', inplace=True)
employees

,first_name,last_name,email,title
employee_number,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager
...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager

In [6]:
system_access

                   access_level
employee_number
EMP003045        Contract Entry
EMP003051        Contract Entry
EMP003068        Contract Entry
EMP003097         Account Admin
EMP003133        Contract Entry
...                         ...
EMP024862        Contract Entry
EMP024864        Contract Entry
EMP024885         Account Admin
EMP024890        Contract Entry
EMP024896         Account Admin

[838 rows x 1 columns]

In [7]:
df = employees.join(system_access, how='left')

df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,NaN

In [8]:
null_data = df[df.isnull().any(axis=1)]
null_data

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Account Manager,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003713,Marybeth,Driussi,marybeth.driussi@consultants.com,Account Manager,NaN
...,...,...,...,...,...
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,NaN
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,NaN

In [9]:
df.loc[df['title'] <= "Account Manager", 'access_level'] = 'Account Admin'

df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [10]:
null_data = df[df.isnull().any(axis=1)]
null_data

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003921,Sigfried,McTear,sigfried.mctear@consultants.com,Director of Sales,NaN
EMP004461,Josselyn,Ivanchov,josselyn.ivanchov@consultants.com,Sales Assistant,NaN
...,...,...,...,...,...
EMP023866,Jeramey,Dondon,jeramey.dondon@consultants.com,Director of Sales,NaN
EMP023935,Ulrikaumeko,Plumridege,ulrikaumeko.plumridege@consultants.com,Director of Sales,NaN
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN

In [11]:
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [12]:
df.loc[df['title'] >= "Sales Assistant", 'access_level'] = 'Contract Entry'
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [13]:
null_data = df[df.isnull().any(axis=1)]
null_data

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003921,Sigfried,McTear,sigfried.mctear@consultants.com,Director of Sales,NaN
EMP004708,Carling,Janecek,carling.janecek@consultants.com,Director of Sales,NaN
EMP005134,Jami,Cornall,jami.cornall@consultants.com,Director of Sales,NaN
EMP005242,Sheilah,Castagne,sheilah.castagne@consultants.com,Director of Sales,NaN
EMP005289,Cassandra,Ritmeier,cassandra.ritmeier@consultants.com,Director of Sales,NaN
EMP005889,Fanni,Aird,fanni.aird@consultants.com,Director of Sales,NaN
EMP006091,Caryn,Spackman,caryn.spackman@consultants.com,Director of Sales,NaN
EMP006453,Josephina,Easby,josephina.easby@consultants.com,Director of Sales,NaN
EMP006956,Anson,Yakubov,anson.yakubov@consultants.com,Director of Sales,NaN
EMP007342,Aldon,Patron,aldon.patron@consultants.com,Director of Sales,NaN
EMP008420,Madison,Yurygyn,madison.yurygyn@consultants.com,Director of Sales,NaN
EMP008421,Lorene,Dutson,lorene.dutson@consultants.com,Director of Sales,NaN
EMP008451,Roxanna,Dungay,roxanna.dungay@consultants.com,Director of Sales,NaN
EMP009354,Selig,Whittek,selig.whittek@consultants.com,Director of Sales,NaN
EMP009879,Valentino,Mattiacci,valentino.mattiacci@consultants.com,Director of Sales,NaN
EMP010215,Carver,Grennan,carver.grennan@consultants.com,Director of Sales,NaN
EMP010312,Warden,Starie,warden.starie@consultants.com,Director of Sales,NaN
EMP010369,Meggy,Hayhow,meggy.hayhow@consultants.com,Director of Sales,NaN
EMP011112,Phebe,Bulleyn,phebe.bulleyn@consultants.com,Director of Sales,NaN
EMP011305,Hyacintha,Adamiec,hyacintha.adamiec@consultants.com,Director of Sales,NaN
EMP011372,Claiborne,Rowet,claiborne.rowet@consultants.com,Director of Sales,NaN
EMP012211,Vitoria,Dews,vitoria.dews@consultants.com,Director of Sales,NaN
EMP012626,Edmund,Kernley,edmund.kernley@consultants.com,Director of Sales,NaN
EMP012771,Jobyna,Pixton,jobyna.pixton@consultants.com,Director of Sales,NaN
EMP012926,Mitchael,Lalevee,mitchael.lalevee@consultants.com,Director of Sales,NaN
EMP012961,Alika,Croser,alika.croser@consultants.com,Director of Sales,NaN
EMP013022,Christiana,Axelby,christiana.axelby@consultants.com,Director of Sales,NaN
EMP013210,Daisy,Quernel,daisy.quernel@consultants.com,Director of Sales,NaN
EMP013241,Atalanta,Edward,atalanta.edward@consultants.com,Director of Sales,NaN
EMP013578,Sephira,Throughton,sephira.throughton@consultants.com,Director of Sales,NaN
EMP014234,Byran,Stearley,byran.stearley@consultants.com,Director of Sales,NaN
EMP015131,Glen,Blaskett,glen.blaskett@consultants.com,Director of Sales,NaN
EMP016079,Ruy,Burhouse,ruy.burhouse@consultants.com,Director of Sales,NaN
EMP016364,Shaw,Sneesbie,shaw.sneesbie@consultants.com,Director of Sales,NaN
EMP017568,Ester,Akitt,ester.akitt@consultants.com,Director of Sales,NaN
EMP017655,Rebbecca,Pluvier,rebbecca.pluvier@consultants.com,Director of Sales,NaN
EMP017792,Wallis,Huddart,wallis.huddart@consultants.com,Director of Sales,NaN
EMP018294,Rhodie,Barraclough,rhodie.barraclough@consultants.com,Director of Sales,NaN
EMP018433,Rey,Turle,rey.turle@consultants.com,Director of Sales,NaN
EMP019164,Salomone,Benzing,salomone.benzing@consultants.com,Director of Sales,NaN
EMP019702,Annissa,Moorey,annissa.moorey@consultants.com,Director of Sales,NaN
EMP019760,Sibyl,Gerard,sibyl.gerard@consultants.com,Director of Sales,NaN
EMP019814,Nikolaus,Getsham,nikolaus.getsham@consultants.com,Director of Sales,NaN
EMP019830,Clarisse,Ortell,clarisse.ortell@consultants.com,Director of Sales,NaN
EMP020737,Gale,Vannini,gale.vannini@consultants.com,Director of Sales,NaN
EMP020931,Kassia,Apfelmann,kassia.apfelmann@consultants.com,Director of Sales,NaN
EMP021091,Gillie,Rother,gillie.rother@consultants.com,Director of Sales,NaN
EMP021215,Lilas,Alban,lilas.alban@consultants.com,Director of Sales,NaN
EMP021261,Garv,Inchboard,garv.inchboard@consultants.com,Director of Sales,NaN
EMP023178,Dur,Nand,dur.nand@consultants.com,Director of Sales,NaN
EMP023428,Gibbie,Blackborough,gibbie.blackborough@consultants.com,Director of Sales,NaN
EMP023866,Jeramey,Dondon,jeramey.dondon@consultants.com,Director of Sales,NaN
EMP023935,Ulrikaumeko,Plumridege,ulrikaumeko.plumridege@consultants.com,Director of Sales,NaN
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN

In [14]:
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [15]:
df["access_level"].fillna("Approval - Manager", inplace = True)  
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,Approval - Manager
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [16]:
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,Approval - Manager
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Account Admin

In [17]:
#use for reference https://github.com/ianstone-edu/sales_analysis

In [18]:
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html